# DATA VALIDATION

**This is the process of validating the generated data and make it ready for use.**

In [1]:
# Importing libraries 
import pandas as pd
import numpy as np

In [2]:
# Reading and defining the dataset
df = pd.read_csv("Mealapp_data.csv")

In [3]:
# Viewing the first five rows of the dataset
df.head()

,Customer_id,Order_id,Meal_id,Meal_name,Meal_type,Meal_price,Vendor,Rating,Meal_description,Review,Location
0,e8a6d0df-f43a-4b62-a004-cc610bdfe0ad,97296,17,Afang Soup with Fufu,Staple Food with Soups,2800,Ocean Basket,3,Delicious Afang Soup with Fufu made with authe...,Delicious food! Loved the flavors.,Island
1,1641b49b-c545-4310-a820-88a8146cb8e8,65501,87,"Suya Platter (Beef, Chicken, and Innards)",Grilled Specialties,3500,Ocean Basket,3,"Delicious Suya Platter (Beef, Chicken, and Inn...",Fresh ingredients and authentic taste.,Mainland
2,847765eb-b8bc-4f56-94ac-2a98ae61cf8a,13598,52,Garri with Afang Soup,Swallow and Soups / Stews,1300,Shiro,1,Delicious Garri with Afang Soup made with auth...,Food arrived late and order was incorrect.,Mainland
3,174b807a-28e1-4182-99b5-ea92087e4a0e,29358,1,Afang Soup with Fufu,Staple Food with Soups,2800,Ocean Basket,3,Delicious Afang Soup with Fufu made with authe...,Fresh ingredients and authentic taste.,Island
4,edf673e0-f0df-4899-ae68-d1baa650893a,45033,12,Jollof Rice with Beef Stir-Fry,Main Dishes,1600,Shiro,4,Delicious Jollof Rice with Beef Stir-Fry made ...,Amazing experience. Will definitely order again.,Mainland

In [4]:
# Checking the shape of the dataset
df.shape

(100000, 11)

**The dataset consist of 100,000 rows and 9 columns.**

In [5]:
# Checking for missing values in the data
df.isna().sum()

Customer_id         0
Order_id            0
Meal_id             0
Meal_name           0
Meal_type           0
Meal_price          0
Vendor              0
Rating              0
Meal_description    0
Review              0
Location            0
dtype: int64

**There are no missing values in the dataset.**

In [6]:
# Checking for duplicates
df.duplicated().sum()

0

**There are no duplicated values in the dataset.**

In [7]:
# Checking the data types 
df.dtypes

Customer_id         object
Order_id             int64
Meal_id              int64
Meal_name           object
Meal_type           object
Meal_price           int64
Vendor              object
Rating               int64
Meal_description    object
Review              object
Location            object
dtype: object

**The columns in the dataset consist of both object and integer values.**

In [8]:
# Checking the information of the dataset.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Customer_id       100000 non-null  object
 1   Order_id          100000 non-null  int64
 2   Meal_id           100000 non-null  int64
 3   Meal_name         100000 non-null  object
 4   Meal_type         100000 non-null  object
 5   Meal_price        100000 non-null  int64
 6   Vendor            100000 non-null  object
 7   Rating            100000 non-null  int64
 8   Meal_description  100000 non-null  object
 9   Review            100000 non-null  object
 10  Location          100000 non-null  object
dtypes: int64(4), object(7)
memory usage: 8.4+ MB

**The information of the dataset on each column are listed above.**

In [9]:
# Checking the columns in the dataset
df.columns

Index(['Customer_id', 'Order_id', 'Meal_id', 'Meal_name', 'Meal_type',
       'Meal_price', 'Vendor', 'Rating', 'Meal_description', 'Review',
       'Location'],
      dtype='object')

**The columns in the dataset are listed above.**

In [10]:
# Importing to csv file
df.to_csv("valid.csv", index=False)