# DATA GATHERING
**This is the process of getting a dataset for a project work**

I generated a dataset in this notebook for the purpose of a project work using the faker library in python.

**Below I'm installing the faker library.**

In [1]:
# I'm installing the faker library using pip.
!pip install Faker

**I will be importing the necessary modules needed to generate the data.**

In [2]:
# Importing the necessary modules
from faker import Faker 
import csv
import pandas as pd

**I'll be defining the faker library as fake for easy use**

In [3]:
# Defining faker library as fake
fake = Faker()

**Below I'll be writing the code to generate the dataset and I'll be defining the behavior of the datasets.**

In [4]:
# Generating the dataset and naming it as meal data.
with open("meal_data1.csv", "w", newline= "",) as file:
  writer = csv.writer(file)

# Defining the row.
  writer.writerow(
      [
      "Customer_id", "Meal_id", "Num_orders", "Vendor", "Gender", "Ratings", 
          "Cuisine", "Beverages", "Order_history", "Price", "Location"
      ]
      )
  
# Defining the range and column of the dataset.
  for _ in range(100000):
    Customer_id = fake.uuid4()
    Meal_id = fake.random_int(min=1, max=50)
    Num_orders = fake.random_int(min=1, max=50)
    Vendor = fake.random_element(["Shiro", "Hard Rock", "Ocean Basket", "R.S.V.P.", "Izanagi"])
    Gender = fake.random_element(["Male", "Female"])
    Ratings = fake.random_int(min=1, max=5)
    Cuisine = fake.random_element(["Staple Food", "Soups / Stews", "Salad / Side Dishes", "Meat", "Street Food / Snacks"])
    Beverages = fake.random_element(["Water", "Milk", "Carbonated drinks", "Juice", "Wine"])
    Order_history = fake.random_int(min=1, max=50)
    Price = fake.random_int(min=500, max=10000)
    Location = fake.random_element(["Island", "Mainland"])

    writer.writerow([
        Customer_id, Meal_id, Num_orders, Vendor, Gender, Ratings, Cuisine, Beverages, Order_history, Price, Location
    ])

**I want to define the generated csv dataset and put it into a pandas dataframe**

In [5]:
# Defining the generated csv into pandas
df = pd.read_csv("meal_data1.csv")

# I'm checking the shape of the dataset
print(f"Shape of data: {df.shape}\n")

# I'm viewing the first five rows
df.head()

Shape of data: (100000, 11)

,Customer_id,Meal_id,Num_orders,Vendor,Gender,Ratings,Cuisine,Beverages,Order_history,Price,Location
0,85890181-8e41-42be-be09-9b5a2cab73d0,27,42,Izanagi,Female,4,Salad / Side Dishes,Carbonated drinks,26,5318,Island
1,dc22d0a6-21ad-49e1-a2b2-1dfe6729fa53,43,25,Hard Rock,Male,4,Soups / Stews,Water,39,8538,Mainland
2,7f116c5c-815e-45d0-b20e-c3f9ab672ec2,14,41,Ocean Basket,Female,1,Meat,Water,49,6386,Mainland
3,f39edfd9-4dd2-4de1-8539-cc6ccf439dd4,43,32,R.S.V.P.,Female,5,Meat,Carbonated drinks,3,1258,Mainland
4,8469dc25-4feb-4ee6-8af1-69d0508b0211,32,27,R.S.V.P.,Female,3,Staple Food,Wine,21,5537,Mainland

In [6]:
df.to_csv(r"C:\Users\new\OneDrive\Desktop\Meal_app_stutern.meal_data1.csv")

**Above in the dataset there are 100,000 rows and 11 columns in the dataframe.**