# DATA VALIDATION

**This is the process of validating the generated data and make it ready for use.**

In [1]:
# Importing libraries 
import pandas as pd
import numpy as np

In [2]:
# Reading and defining the dataset
df = pd.read_csv("meal_data1.csv")

In [3]:
# Viewing the dataset
df.head()

,Customer_id,Meal_id,Num_orders,Vendor,Gender,Ratings,Cuisine,Beverages,Order_history,Price,Location
0,85890181-8e41-42be-be09-9b5a2cab73d0,27,42,Izanagi,Female,4,Salad / Side Dishes,Carbonated drinks,26,5318,Island
1,dc22d0a6-21ad-49e1-a2b2-1dfe6729fa53,43,25,Hard Rock,Male,4,Soups / Stews,Water,39,8538,Mainland
2,7f116c5c-815e-45d0-b20e-c3f9ab672ec2,14,41,Ocean Basket,Female,1,Meat,Water,49,6386,Mainland
3,f39edfd9-4dd2-4de1-8539-cc6ccf439dd4,43,32,R.S.V.P.,Female,5,Meat,Carbonated drinks,3,1258,Mainland
4,8469dc25-4feb-4ee6-8af1-69d0508b0211,32,27,R.S.V.P.,Female,3,Staple Food,Wine,21,5537,Mainland

In [4]:
# Selecting the necessary features.
df = df[["Meal_id", "Num_orders", "Gender", "Ratings", "Order_history", "Price", "Location", "Cuisine", "Beverages"]]

In [5]:
# Veiwing the table after selecting the necessary features.
df.head()

,Meal_id,Num_orders,Gender,Ratings,Order_history,Price,Location,Cuisine,Beverages
0,27,42,Female,4,26,5318,Island,Salad / Side Dishes,Carbonated drinks
1,43,25,Male,4,39,8538,Mainland,Soups / Stews,Water
2,14,41,Female,1,49,6386,Mainland,Meat,Water
3,43,32,Female,5,3,1258,Mainland,Meat,Carbonated drinks
4,32,27,Female,3,21,5537,Mainland,Staple Food,Wine

In [6]:
# Importing to csv file
df.to_csv("valid.csv", index=False)