# DATA VALIDATION

**This is the process of validating the generated data and make it ready for use.**

In [1]:
# Importing libraries 
import pandas as pd
import numpy as np

In [2]:
# Reading and defining the dataset
df = pd.read_csv("meal_data1.csv")

In [3]:
# Viewing the first five rows of the dataset
df.head()

,Customer_id,Meal_id,Num_orders,Vendor,Gender,Ratings,Cuisine,Beverages,Order_history,Price,Location
0,85890181-8e41-42be-be09-9b5a2cab73d0,27,42,Izanagi,Female,4,Salad / Side Dishes,Carbonated drinks,26,5318,Island
1,dc22d0a6-21ad-49e1-a2b2-1dfe6729fa53,43,25,Hard Rock,Male,4,Soups / Stews,Water,39,8538,Mainland
2,7f116c5c-815e-45d0-b20e-c3f9ab672ec2,14,41,Ocean Basket,Female,1,Meat,Water,49,6386,Mainland
3,f39edfd9-4dd2-4de1-8539-cc6ccf439dd4,43,32,R.S.V.P.,Female,5,Meat,Carbonated drinks,3,1258,Mainland
4,8469dc25-4feb-4ee6-8af1-69d0508b0211,32,27,R.S.V.P.,Female,3,Staple Food,Wine,21,5537,Mainland

In [4]:
# Checking the shape of the dataset
df.shape

(100000, 11)

**The dataset consist of 100,000 rows and 9 columns.**

In [5]:
# Checking for missing values in the data
df.isna().sum()

Customer_id      0
Meal_id          0
Num_orders       0
Vendor           0
Gender           0
Ratings          0
Cuisine          0
Beverages        0
Order_history    0
Price            0
Location         0
dtype: int64

**There are no missing values in the dataset.**

In [6]:
# Checking for duplicates
df.duplicated().sum()

0

**There are no duplicated values in the dataset.**

In [7]:
# Checking the data types 
df.dtypes

Customer_id      object
Meal_id           int64
Num_orders        int64
Vendor           object
Gender           object
Ratings           int64
Cuisine          object
Beverages        object
Order_history     int64
Price             int64
Location         object
dtype: object

**The columns in the dataset consist of both object and integer values.**

In [8]:
# Checking the information of the dataset.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 11 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Customer_id    100000 non-null  object
 1   Meal_id        100000 non-null  int64
 2   Num_orders     100000 non-null  int64
 3   Vendor         100000 non-null  object
 4   Gender         100000 non-null  object
 5   Ratings        100000 non-null  int64
 6   Cuisine        100000 non-null  object
 7   Beverages      100000 non-null  object
 8   Order_history  100000 non-null  int64
 9   Price          100000 non-null  int64
 10  Location       100000 non-null  object
dtypes: int64(5), object(6)
memory usage: 8.4+ MB

**The information of the dataset on each column are listed above.**

In [9]:
# Checking the columns in the dataset
df.columns

Index(['Customer_id', 'Meal_id', 'Num_orders', 'Vendor', 'Gender', 'Ratings',
       'Cuisine', 'Beverages', 'Order_history', 'Price', 'Location'],
      dtype='object')

**The columns in the dataset are listed above.**

In [10]:
# Importing to csv file
df.to_csv("valid.csv", index=False)